/* Empty file for template. Remember to edit only this file and not the HTML file */
/*body {
    background-image: linear-gradient(to bottom right, blue, white, black);
}*/
/*background placeholder*/

body {
  background-image: url("house-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e32c2c;
}

.intro {
    text-align: center;
}

.preamble {
    text-align: left;
    font-style: Anek-Tamil;
}

body {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(255, 204, 57);
}

.explanation {
    text-align: left;
}

.participation {
    text-align: left;
}

.benefits {
    text-align: right;
}

.requirements {
    text-align: right;
}

p::first-line {
    text-indent: 10px;
}

a:hover {
    color: blueviolet;
}

:link {
    color: aqua;
}

:visited {
    color: #e32c2c;
}

h3, p {
    background-color: rgba(14, 11, 1, 0.01);
}

div p {
    background-color: rgba(81, 255, 0, 0.001);
}

div > p {
  background-color: rgba(22, 22, 20, 0.01);
  border: 1px solid rgb(15, 11, 11, 0.01);
}
